html,

body {
  overflow: hidden;
}
#startScreen {
  background-image: url("https://BananaMaster21.github.io/IllusionForest.github.io/image/forest.png");
  
  width: 100vw;
  height: 100vh;
}
#title {  
  text-align: center;
  font-size: 4em;
}
#startButton {
  position: absolute;
  left: 40vw
}
.canvases{
  background-color: white;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
