html,

body {
  background-image: url("https://BananaMaster21.github.io/IllusionForest.github.io/image/forest.png");
}
#title {  
  text-align: center;
  font-size: 4em;
}
#startButton {
  position: absolute;
  left: 40vw
}
.canvases{
  background-color: white;
  width: 1300;
  height: 700;
  
  position: absolute;
  left: 40px;
}
